
.green {
    color: #FCFCFC !important;
    background-color: #39DB4A !important;
    ;
}
.textGreen{
    color: #39DB4A !important;
}
.grey {
    color: #4A4A4A;

}
.img-size { width: 320.2px !important;
    height: 353.32px !important;
    
}    
.food-img { width: 100px !important;
    height: 100px !important;
    
}
.text-center {
    text-align: center;
    margin-top: 4rem;
}
.circle {
    background-color: aquamarine;
    height: 150px;
    width: 150px;
    border-radius: 80px;
    margin: 0 auto;display: flex;
    justify-content: center;
    align-items: center;
}